/* marquee */

header {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marquee_wrapper {
    overflow: hidden;
    display: flex;
}

.marquee {
    overflow: hidden;
    width: inherit;
}

.marquee_text_container {
    justify-content: center;
}

.marquee span {
    white-space: nowrap;
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.logo_container {
    display: flex;
    flex-direction: row;
    width: available;
}

.logo_wrapper {
    display: block;
    justify-content: center;
    width: auto;
}

.logo_image {
    width: inherit;
    height: 120px;
}